@import "~bootswatch/dist/superhero/variables";

div {
  display: grid;
  grid-template-columns: auto 100px;

  div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

    i {
      user-select: none;
      font-size: 20pt;

      &:hover {
        cursor: pointer;
        color: $gray-600;
      }
    }
  }
}