@import "~bootswatch/dist/superhero/variables";

.wrapper {
  height: calc(100% - 34px);
  display: grid;
  grid-template-columns: 200px auto;

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: $gray-300;
  }

  ::-webkit-scrollbar-thumb {
    background: $gray-500;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $gray-800;
  }

  .channels {
    overflow: auto;
  }

  .main-content {
    position: relative;
    display: grid;
    grid-template-rows: auto 60px 60px;

    .song-container {
      background-color: $gray-700;

      .absoluteContainer {
        position:absolute;
        top:0;
        left:0;
        right:0;
        height: calc(100% - 120px);
        overflow:auto ;
      }
    }
  }
}
