<div class="wrapper">
  <div class="bg-dark channels">
    <div class="alert alert-warning m-0 sticky-top" role="alert" *ngIf="showingJoinError">
      {{joinError}}
    </div>
    <div>
      <app-channel *ngFor="let channel of (channels | async)"
                   [channel]="channel"
                   (clickedOnChannel)="joinChannel(channel)">
      </app-channel>
    </div>
  </div>
  <div class="main-content">
      <div class="song-container">
          <div class="absoluteContainer p-3">
              <div class="border-bottom border-light">
                  <h4 class="font-weight-bold">Current Song:</h4>
                  <p class="m-0 p-2">{{audioService.songQueue[audioService.currentQueuePos]?.name}}</p>
              </div>
              <h4 class="font-weight-bold pt-3">Song Queue:</h4>
              <div *ngFor="let song of audioService.songQueue; index as i">
                <app-song *ngIf="i > audioService.currentQueuePos" [song]="song" [queuePosition]="i"></app-song>
              </div>
          </div>
      </div>
      <app-song-adder></app-song-adder>
      <app-player></app-player>
  </div>
</div>
