<div class="wrapper">
  <div class="bg-dark channels">
    <div class="alert alert-warning m-0 sticky-top" role="alert" *ngIf="showingJoinError">
      {{joinError}}
    </div>
    <div>
      <app-channel *ngFor="let channel of (channels | async)"
                   [channel]="channel"
                   (clickedOnChannel)="joinChannel(channel)">
      </app-channel>
    </div>
  </div>
  <div class="main-content">
      <div class="song=container">
          <p *ngFor="let song of audioService.songQueue">{{song.name}}</p>
      </div>
      <app-song-adder></app-song-adder>
      <app-player></app-player>
  </div>
</div>
