<div class="row container-fluid m-0 h-100">
  <div class="align-self-center col-5">
    {{audioService.songQueue[audioService.currentQueuePos]?.name | truncate : 30}}
  </div>
  <div class="col-7 text-center align-self-center">
    <div class="buttons d-flex justify-content-around m-auto">
      <i class="material-icons" (click)="back()">skip_previous</i>
      <i *ngIf="!audioService.playState" class="material-icons" (click)="playPause()">play_circle_outline</i>
      <i *ngIf="audioService.playState" class="material-icons" (click)="playPause()">pause_circle_outline</i>
      <i class="material-icons" (click)="next()">skip_next</i>
    </div>
  </div>
</div>
